<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.webServer>
    <handlers>
      <add name="Python FastCGI"
           path="*"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="E:\SITES\DePara_Novo\venv\Scripts\python.exe|E:\SITES\DePara_Novo\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified"
           requireAccess="Script" />
    </handlers>

    <defaultDocument>
      <files>
        <add value="app.py" />
      </files>
    </defaultDocument>

    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough" />
    <asp scriptErrorSentToBrowser="true" />

    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="268435456" />
      </requestFiltering>
    </security>

    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
    </staticContent>
  </system.webServer>

  <appSettings>
  <!-- Handler do Flask -->
  <add key="WSGI_HANDLER" value="app.app" />

  <!-- Caminho base absoluto -->
  <add key="PYTHONPATH" value="E:\SITES\DePara_Novo" />
  <add key="WSGI_APP" value="E:\SITES\DePara_Novo\app.py" />

  <!-- Logs -->
  <add key="WSGI_LOG" value="E:\SITES\DePara_Novo\logs\iis_flask.log" />
  <add key="WSGI_STDOUT" value="E:\SITES\DePara_Novo\logs\wfastcgi_stdout.log" />
  <add key="WSGI_STDERR" value="E:\SITES\DePara_Novo\logs\wfastcgi_stderr.log" />

  <!-- Configurações de ambiente -->
  <add key="PYTHONUNBUFFERED" value="1" />
  <add key="PYTHONIOENCODING" value="utf-8" />
  <add key="WSGI_RESTART_FILE_REGEX" value=".*((\.py)|(\.config))$" />
  <add key="FLASK_ENV" value="production" />
  <add key="DEBUG" value="0" />
</appSettings>


  <system.web>
    <compilation debug="false" />
    <httpRuntime executionTimeout="3600" maxRequestLength="262144" />
  </system.web>

</configuration>
